In [1]:
import numpy as np
import pandas as pd
import datetime as dt

import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('ggplot')

C:\Users\asus1\Anaconda2\lib\site-packages\pandas\computation\__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

In [2]:
df = pd.read_excel('../input/VP2016_votesPerRegion_Rappler.xlsx')

In [4]:
df.head()

,timestamp,CAYETANO,ESCUDERO,HONASAN,MARCOS,ROBREDO,TRILLANES
0,2016-05-09 17:15:06,408,962,144,3046,1851,162
1,2016-05-09 18:45:47,408,962,144,3046,1851,162
2,2016-05-09 18:46:30,1712,3576,437,11585,6938,481
3,2016-05-09 18:47:11,2490,5146,621,16190,10536,751
4,2016-05-09 18:47:38,15822,29959,3072,91270,59874,4270